<html>
    <head>
        <title>Xmeme</title>
        <meta name="author" content="Maniteja">
        <meta name="description" content="Not a Meme Generator but a Meme Database">
    </head>
    <body>
        <iframe src="/top" frameborder="0" width="100%" height="50%"></iframe>
        <hr>
        <iframe src="/bottom" frameborder="0" width="100%" height="50%"></iframe>
    </body>
</html>